html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

section{
	width: 100%;
	height: 100%;
    min-height: min-content;
	display: flex;
    z-index: 3;
    position: relative;
    background: transparent;
}

section.newsmedia{
	overflow: hidden;
	position: relative;
	background: #ffffff00;
	z-index:1;
}

section.newsmedia::before{
    content: ' ';
    transition:1s;
    position: absolute;
    background-image: url(../img/newsmedia.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    width: 100%;
    height: 100%;
    will-change: transform;
    background-size: cover;
    z-index: -1;
}

section.noChess{
    z-index: 4;
    background: white;
}

nav{
    position: absolute;
    display: flex;
    width: 100%;
    z-index: 5;
}

nav div.navBody{
    top: 1.5em;
    position: fixed;
    right: 0;
    width: 92%;
    height: 3.6em;
    background-color: #01cdce;
}

nav > div.navBody div{
    display: inline-block;
}

div.nav-s{
    width: 20%;
}

div.nav-menu{
    width: auto;
}

nav > div.navBody div > .nav-ul-menu{
    font-size: 1.2em;
    flex-direction: row;
    list-style: none;
    display: flex;
}

nav > div.navBody div > .nav-ul-menu li{
    display: inline-block;
    padding: 0 1.25em 0 1.25em;
    margin: 0 1.25em 0 1.25em;
}

nav > div.navBody div > .nav-ul-menu li a{
    text-decoration: none;
    color: white;
}

nav > img.logo{
    margin: 0 0 0 1.5em;
    position: fixed;
}
/*
nav{
    position: fixed;
    width: 100%;
    background-color: #00cdce;
    z-index: 5;
    padding: .5em 0 .5em 0;
}

nav > span{
    display: inline-block;
    position:absolute;
}

nav > #logo{
    float:left;
    left:0;
    margin: 0 1em 0 0;
}

nav > span#hm{
    float: right;
    right: 0;
    content: ' ';
    width: 1em;
    height: 1em;
    margin: 0 1em 0 0;
    border-radius: 5px;
}

nav > span#hm:hover{
    transition: 0.5s ease-in-out;
    background-color: #ababab99;
}

nav > span > span.hm-line{
    content: ' ';
    width: 70%;
    height: .1em;
    background: #ffffff;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: inherit;
    border-radius: 15px;
}

nav > span > span.hm-line:after{
    content: ' ';
    width: 100%;
    height: .1em;
    background: #ffffff;
    margin: auto auto .25em auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: inherit;
    border-radius: 15px;
}

nav > span > span.hm-line:before{
    content: ' ';
    width: 100%;
    height: .1em;
    background: #ffffff;
    margin: auto auto -.25em auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: inherit;
    border-radius: 15px;
}

nav > ul{
    display:none;
    text-align: left;
    padding: 0 0 0 0;
    margin: 1.5em auto auto 2.5em;
}

nav > ul > li{
    list-style-type: none;
    display: inline-block;
    width: 85%;
    padding: 0.25em 0.25em 0.25em 0.25em;
    border-radius:10px;
}

nav > ul > li:hover{
    transition: 1s ease-in-out;
    background-color: #ababab99;    
}

nav > ul > li > a{
    text-decoration: none;
    height: 100%;
    width:100%;
    color: #ffffff;
    display: block;
}
*/

/*
 * Estilo para desktop
nav span{
	display: inline-block;
}
nav ul{
	display: inline-block;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
}
*/
h1{
	margin:auto;
    font-size: xx-large;
}

h2{
    padding: 0 0.5em 0 3em;
    font-size: 4em;
    color: #1cafb9;
}

h2.lessM {
    margin: 0.83em 0 0 0;
}

/*section:nth-child(odd){background: lightgrey}

section:nth-child(even){background: lightblue}

section#inicio{background: white !important}
*/
/*
section{
    background: url(../img/backg.png)
}
*/
div#chessQueen{
    background-image: url(../img/chessQueen.png);
    width: 20%;
    height: 60%;
    right: 0;
    margin: auto 3vw auto 3vw;
    top: 20%;
    bottom: 0;
}

div.fixedImg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    position: fixed;
}

div.parallaxBack{
    background-image: url(../img/backg.png);
    display: block;
    position: fixed;
    z-index: 1;
    content: " ";
    height: 100%;
    width: 100%;
}

section div.content{
    width: 100%;
    height: 100%;
    padding: 5em 20% 20% 20%;
}

span.arrowDown {
    background-image: url(../img/arrowDown.png);
    height: .4em;
    width: .4em;
    display: inline-block;
    background-repeat: no-repeat;
    bottom: 0;
    position: relative;
    margin: 0 0 0 .5em;
}

div.sectionContent{
    padding: 0 35% 0 20%;
    text-align: justify;
    font-size: larger;
    line-height: 22pt;
    color: #424242;
}

div.sectionContent p.uno::first-letter {
    color: #1cafb9;
    font-size: xx-large;
}

div.content div.item {
    width: 100%;
    margin: .25em 1em .5em 5em;
}

div.contentImg {
    width: 22%;
    display: inline-block;
}

div.contentImg img {
    position: relative;
    width: 100%;
}

div.contentText {
    width: 66%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 0 0 0 1.5rem;
}

div.contentText h3 {
    margin: 0.3em 0 0 0;
    color: #2cacbe;
}

div.contentText p.gal {
    margin: .5em 0 1em 0;
    color: #424242;
}

button.more {
    background: #19adb9;
    color: white;
    padding: 0.3em 2em .3em 2em;
    border-radius: 16px;
    display: inline-block;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 1s;
    margin: 0 0 0 4em;
}