html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

section{
	width: 100%;
	height: 100%;
	display: flex;
}

section.newsmedia{
	overflow: hidden;
	position: relative;
	background: #ffffff00;
	z-index:1;
}

section.newsmedia::before{
    content: ' ';
    transition:1s;
    position: absolute;
    background-image: url(../img/newsmedia.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    width: 100%;
    height: 100%;
    will-change: transform;
    background-size: cover;
    z-index: -1;
}

nav{
    position: fixed;
    width: 100%;
    background-color: #00cdce;
    z-index: 5;
    padding: .5em 0 .5em 0;
}

nav > span{
    display: inline-block;
    position:absolute;
}

nav > #logo{
    float:left;
    left:0;
    margin: 0 1em 0 0;
}

nav > span#hm{
    float: right;
    right: 0;
    content: ' ';
    width: 1em;
    height: 1em;
    margin: 0 1em 0 0;
    border-radius: 5px;
}

nav > span#hm:hover{
    transition: 0.5s ease-in-out;
    background-color: #ababab99;
}

nav > span > span.hm-line{
    content: ' ';
    width: 70%;
    height: .1em;
    background: #ffffff;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: inherit;
    border-radius: 15px;
}

nav > span > span.hm-line:after{
    content: ' ';
    width: 100%;
    height: .1em;
    background: #ffffff;
    margin: auto auto .25em auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: inherit;
    border-radius: 15px;
}

nav > span > span.hm-line:before{
    content: ' ';
    width: 100%;
    height: .1em;
    background: #ffffff;
    margin: auto auto -.25em auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: inherit;
    border-radius: 15px;
}

nav > ul{
    display:none;
    text-align: left;
    padding: 0 0 0 0;
    margin: 1.5em auto auto 2.5em;
}

nav > ul > li{
    list-style-type: none;
    display: inline-block;
    width: 85%;
    padding: 0.25em 0.25em 0.25em 0.25em;
    border-radius:10px;
}

nav > ul > li:hover{
    transition: 1s ease-in-out;
    background-color: #ababab99;    
}

nav > ul > li > a{
    text-decoration: none;
    height: 100%;
    width:100%;
    color: #ffffff;
    display: block;
}


/*
 * Estilo para desktop
nav span{
	display: inline-block;
}
nav ul{
	display: inline-block;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
}
*/
h1{
	margin:auto;
}

h2{
	margin: 4em auto 2em auto;
}

section:nth-child(odd){background: lightgrey}

section:nth-child(even){background: lightblue}

section#inicio{background: white !important}

div#chessQueen{
    background-image: url(../img/chessQueen.png);
    width: 20%;
    height: 60%;
    right: 0;
    margin: auto 3vw auto 3vw;
    top: 0;
    bottom: 0;
}

div.fixedImg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    position: fixed;
}

